<h1>Mostrar artículos</h1>

<p>
 Title: <%= @article.title %>
</p><p>
 Description: <%= @article.description %>
</p>
<%= link_to 'Volver', articles_path %>
<%= link_to "Editar", edit_article_path(@article) %>

