<h2 align="center">Título: <%= @article.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
 <h4 class="center"><strong>Descripción:</strong></h4>
 <hr>
 <%= @article.description %>
<%= link_to "Editar", edit_article_path(@article) %> |
<%= link_to 'Volver', articles_path %>